/*stylesheet for my profile html*/

h1 {
  background-color: #173f5f;
  color: #f6d55c;
  border: 0px solid black;

}

h2 {
  background-color: #f6d55c;
  border: 10px solid #20639b;
  border-radius: 5px;
  color:#173f5f;
  text-align: center;
}

#biography {
  color: black;
  background-color: #ed553b;
  border: 10px solid #3caea3;
  width: 900px;
}

form>input [type="submit"] {
  color: white;
  background-color: #173f5f;
}

a:hover {
  color: #ed553b;
}

ul>li {
  color: #173f5f
}

ul>li:hover {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  color: black;
}

[class="skill_list"]>li:hover+li {
  font-size: 15px;
  color: #3caea3;
}

ol>li:hover~li {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 30px;
  color: #f6d55c;
}

[class="recent"] {
  font-family: cursive;
  color: #3caea3;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/7e/Majestic_Twilight.jpg/170px-Majestic_Twilight.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

[class= "flexbox-container"] {
  display: flex;
  flex-direction: row;
  width: 900px;
  justify-content: center;
}

[class= "box"]{
  border: 2px solid #3caea3;
  background-color: #f6d55c;
  text-align: center;
}

/* make appear...
p {
  display: none;
  background-color: yellow;
  padding: 20px;
}

div:hover p {
  display: block;
}

...


a:visited {
  color: #00FF00;
}

a:hover {
  color: #FF00FF;
}

a:active {
  color: #0000FF;
} 

...

background-image: no-repeat;

background-position: repeat-x;

border-radius: 2px; (rounded corners)

opacity: 0.1;

text-align: center;



